<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Registration</h1>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.register()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="login">Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Your username"
                           ng-model="vm.registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/" required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required">
                            Your username is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.minlength">
                            Your username is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.maxlength">
                            Your username cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.pattern">
                            Your username can only contain lower-case letters and digits.
                    </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Your email is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Your email is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Your email is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Your email cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-lg-1">
                    <button class="btn btn-default" ng-click="vm.locateMe()"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></button>
                </div>
                <div class="form-group col-lg-11">

                    <input type="text" class="form-control" name="address" id="exampleInputAmount" ng-model="vm.registerAccount.address" placeholder="Address">

                </div>
                <div class="typeahead-demo">

                    <h4>What issues are you interested in</h4>
                    <!--<ul class="pager">-->
                        <!--<li><a>topic one <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>-->
                        <!--<li><a>topic one <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>-->

                    <!--</ul>-->

                    <div class="form-group">
                        <input type="text" name="issue" ng-model="vm.registerAccount.issue"
                               uib-typeahead="issue for issue in vm.issues" class="form-control" placeholder="type your interests here">
                    </div>

                </div>
                <div class="form-group">
                    <div id="account-alert-radius" class="radiusPicker">

                        <span id="radiusCopy">
                        We'll notify you about community events within <select class="radius inline" id="alertradius"
                        ng-model="vm.registerAccount.radius">
                        <option selected value="2" >
                        2 mi
                        </option>
                        <option  value="5" >
                        5 mi
                        </option>
                        <option  value="10" >
                        10 mi
                        </option>
                        <option  value="25" >
                        25 mi
                        </option>
                        <option  value="50" >
                        50 mi
                        </option>
                        <option  value="100" >
                        100 mi
                        </option>
                        </select> that match your interests.
                        </span>
                        <span id="range-inline-success" class="hasJS jsStartHidden rangeInlineSuccess">Setting Saved</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               ng-show="form.password.$error.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.minlength">
                            Your password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>


                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
            </div>
        </div>
    </div>
</div>
